@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please navigate to the user details screen </p>
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Users" })">
        <span>UserDetails</span>
    </a>
</div>
